html, body, #root, #app, #app>div {
height: 100%
}
::-webkit-scrollbar {
width: 14px;
}
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
background: rgba(40,40,40, 0.6);
border-radius: 999px;
background-clip: content-box;
border: 2px solid transparent;
}
::webkit-scrollbar-thumb:hover {
background: rgba(40,40,40, 8);
}